
.has-flag {
    .card-content:before {
        content: "";
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.has-flag.ad .card-content:before {
    background-image: url(../flags/4x3/ad.svg);
}
.has-flag.ae .card-content:before {
    background-image: url(../flags/4x3/ae.svg);
}
.has-flag.af .card-content:before {
    background-image: url(../flags/4x3/af.svg);
}
.has-flag.ag .card-content:before {
    background-image: url(../flags/4x3/ag.svg);
}
.has-flag.ai .card-content:before {
    background-image: url(../flags/4x3/ai.svg);
}
.has-flag.al .card-content:before {
    background-image: url(../flags/4x3/al.svg);
}
.has-flag.am .card-content:before {
    background-image: url(../flags/4x3/am.svg);
}
.has-flag.ao .card-content:before {
    background-image: url(../flags/4x3/ao.svg);
}
.has-flag.aq .card-content:before {
    background-image: url(../flags/4x3/aq.svg);
}
.has-flag.ar .card-content:before {
    background-image: url(../flags/4x3/ar.svg);
}
.has-flag.as .card-content:before {
    background-image: url(../flags/4x3/as.svg);
}
.has-flag.at .card-content:before {
    background-image: url(../flags/4x3/at.svg);
}
.has-flag.au .card-content:before {
    background-image: url(../flags/4x3/au.svg);
}
.has-flag.aw .card-content:before {
    background-image: url(../flags/4x3/aw.svg);
}
.has-flag.ax .card-content:before {
    background-image: url(../flags/4x3/ax.svg);
}
.has-flag.az .card-content:before {
    background-image: url(../flags/4x3/az.svg);
}
.has-flag.ba .card-content:before {
    background-image: url(../flags/4x3/ba.svg);
}
.has-flag.bb .card-content:before {
    background-image: url(../flags/4x3/bb.svg);
}
.has-flag.bd .card-content:before {
    background-image: url(../flags/4x3/bd.svg);
}
.has-flag.be .card-content:before {
    background-image: url(../flags/4x3/be.svg);
}
.has-flag.bf .card-content:before {
    background-image: url(../flags/4x3/bf.svg);
}
.has-flag.bg .card-content:before {
    background-image: url(../flags/4x3/bg.svg);
}
.has-flag.bh .card-content:before {
    background-image: url(../flags/4x3/bh.svg);
}
.has-flag.bi .card-content:before {
    background-image: url(../flags/4x3/bi.svg);
}
.has-flag.bj .card-content:before {
    background-image: url(../flags/4x3/bj.svg);
}
.has-flag.bl .card-content:before {
    background-image: url(../flags/4x3/bl.svg);
}
.has-flag.bm .card-content:before {
    background-image: url(../flags/4x3/bm.svg);
}
.has-flag.bn .card-content:before {
    background-image: url(../flags/4x3/bn.svg);
}
.has-flag.bo .card-content:before {
    background-image: url(../flags/4x3/bo.svg);
}
.has-flag.bq .card-content:before {
    background-image: url(../flags/4x3/bq.svg);
}
.has-flag.br .card-content:before {
    background-image: url(../flags/4x3/br.svg);
}
.has-flag.bs .card-content:before {
    background-image: url(../flags/4x3/bs.svg);
}
.has-flag.bt .card-content:before {
    background-image: url(../flags/4x3/bt.svg);
}
.has-flag.bv .card-content:before {
    background-image: url(../flags/4x3/bv.svg);
}
.has-flag.bw .card-content:before {
    background-image: url(../flags/4x3/bw.svg);
}
.has-flag.by .card-content:before {
    background-image: url(../flags/4x3/by.svg);
}
.has-flag.bz .card-content:before {
    background-image: url(../flags/4x3/bz.svg);
}
.has-flag.ca .card-content:before {
    background-image: url(../flags/4x3/ca.svg);
}
.has-flag.cc .card-content:before {
    background-image: url(../flags/4x3/cc.svg);
}
.has-flag.cd .card-content:before {
    background-image: url(../flags/4x3/cd.svg);
}
.has-flag.cf .card-content:before {
    background-image: url(../flags/4x3/cf.svg);
}
.has-flag.cg .card-content:before {
    background-image: url(../flags/4x3/cg.svg);
}
.has-flag.ch .card-content:before {
    background-image: url(../flags/4x3/ch.svg);
}
.has-flag.ci .card-content:before {
    background-image: url(../flags/4x3/ci.svg);
}
.has-flag.ck .card-content:before {
    background-image: url(../flags/4x3/ck.svg);
}
.has-flag.cl .card-content:before {
    background-image: url(../flags/4x3/cl.svg);
}
.has-flag.cm .card-content:before {
    background-image: url(../flags/4x3/cm.svg);
}
.has-flag.cn .card-content:before {
    background-image: url(../flags/4x3/cn.svg);
}
.has-flag.co .card-content:before {
    background-image: url(../flags/4x3/co.svg);
}
.has-flag.cr .card-content:before {
    background-image: url(../flags/4x3/cr.svg);
}
.has-flag.cu .card-content:before {
    background-image: url(../flags/4x3/cu.svg);
}
.has-flag.cv .card-content:before {
    background-image: url(../flags/4x3/cv.svg);
}
.has-flag.cw .card-content:before {
    background-image: url(../flags/4x3/cw.svg);
}
.has-flag.cx .card-content:before {
    background-image: url(../flags/4x3/cx.svg);
}
.has-flag.cy .card-content:before {
    background-image: url(../flags/4x3/cy.svg);
}
.has-flag.cz .card-content:before {
    background-image: url(../flags/4x3/cz.svg);
}
.has-flag.de .card-content:before {
    background-image: url(../flags/4x3/de.svg);
}
.has-flag.dj .card-content:before {
    background-image: url(../flags/4x3/dj.svg);
}
.has-flag.dk .card-content:before {
    background-image: url(../flags/4x3/dk.svg);
}
.has-flag.dm .card-content:before {
    background-image: url(../flags/4x3/dm.svg);
}
.has-flag.do .card-content:before {
    background-image: url(../flags/4x3/do.svg);
}
.has-flag.dz .card-content:before {
    background-image: url(../flags/4x3/dz.svg);
}
.has-flag.ec .card-content:before {
    background-image: url(../flags/4x3/ec.svg);
}
.has-flag.ee .card-content:before {
    background-image: url(../flags/4x3/ee.svg);
}
.has-flag.eg .card-content:before {
    background-image: url(../flags/4x3/eg.svg);
}
.has-flag.eh .card-content:before {
    background-image: url(../flags/4x3/eh.svg);
}
.has-flag.er .card-content:before {
    background-image: url(../flags/4x3/er.svg);
}
.has-flag.es .card-content:before {
    background-image: url(../flags/4x3/es.svg);
}
.has-flag.et .card-content:before {
    background-image: url(../flags/4x3/et.svg);
}
.has-flag.fi .card-content:before {
    background-image: url(../flags/4x3/fi.svg);
}
.has-flag.fj .card-content:before {
    background-image: url(../flags/4x3/fj.svg);
}
.has-flag.fk .card-content:before {
    background-image: url(../flags/4x3/fk.svg);
}
.has-flag.fm .card-content:before {
    background-image: url(../flags/4x3/fm.svg);
}
.has-flag.fo .card-content:before {
    background-image: url(../flags/4x3/fo.svg);
}
.has-flag.fr .card-content:before {
    background-image: url(../flags/4x3/fr.svg);
}
.has-flag.ga .card-content:before {
    background-image: url(../flags/4x3/ga.svg);
}
.has-flag.gb .card-content:before {
    background-image: url(../flags/4x3/gb.svg);
}
.has-flag.gd .card-content:before {
    background-image: url(../flags/4x3/gd.svg);
}
.has-flag.ge .card-content:before {
    background-image: url(../flags/4x3/ge.svg);
}
.has-flag.gf .card-content:before {
    background-image: url(../flags/4x3/gf.svg);
}
.has-flag.gg .card-content:before {
    background-image: url(../flags/4x3/gg.svg);
}
.has-flag.gh .card-content:before {
    background-image: url(../flags/4x3/gh.svg);
}
.has-flag.gi .card-content:before {
    background-image: url(../flags/4x3/gi.svg);
}
.has-flag.gl .card-content:before {
    background-image: url(../flags/4x3/gl.svg);
}
.has-flag.gm .card-content:before {
    background-image: url(../flags/4x3/gm.svg);
}
.has-flag.gn .card-content:before {
    background-image: url(../flags/4x3/gn.svg);
}
.has-flag.gp .card-content:before {
    background-image: url(../flags/4x3/gp.svg);
}
.has-flag.gq .card-content:before {
    background-image: url(../flags/4x3/gq.svg);
}
.has-flag.gr .card-content:before {
    background-image: url(../flags/4x3/gr.svg);
}
.has-flag.gs .card-content:before {
    background-image: url(../flags/4x3/gs.svg);
}
.has-flag.gt .card-content:before {
    background-image: url(../flags/4x3/gt.svg);
}
.has-flag.gu .card-content:before {
    background-image: url(../flags/4x3/gu.svg);
}
.has-flag.gw .card-content:before {
    background-image: url(../flags/4x3/gw.svg);
}
.has-flag.gy .card-content:before {
    background-image: url(../flags/4x3/gy.svg);
}
.has-flag.hk .card-content:before {
    background-image: url(../flags/4x3/hk.svg);
}
.has-flag.hm .card-content:before {
    background-image: url(../flags/4x3/hm.svg);
}
.has-flag.hn .card-content:before {
    background-image: url(../flags/4x3/hn.svg);
}
.has-flag.hr .card-content:before {
    background-image: url(../flags/4x3/hr.svg);
}
.has-flag.ht .card-content:before {
    background-image: url(../flags/4x3/ht.svg);
}
.has-flag.hu .card-content:before {
    background-image: url(../flags/4x3/hu.svg);
}
.has-flag.id .card-content:before {
    background-image: url(../flags/4x3/id.svg);
}
.has-flag.ie .card-content:before {
    background-image: url(../flags/4x3/ie.svg);
}
.has-flag.il .card-content:before {
    background-image: url(../flags/4x3/il.svg);
}
.has-flag.im .card-content:before {
    background-image: url(../flags/4x3/im.svg);
}
.has-flag.in .card-content:before {
    background-image: url(../flags/4x3/in.svg);
}
.has-flag.io .card-content:before {
    background-image: url(../flags/4x3/io.svg);
}
.has-flag.iq .card-content:before {
    background-image: url(../flags/4x3/iq.svg);
}
.has-flag.ir .card-content:before {
    background-image: url(../flags/4x3/ir.svg);
}
.has-flag.is .card-content:before {
    background-image: url(../flags/4x3/is.svg);
}
.has-flag.it .card-content:before {
    background-image: url(../flags/4x3/it.svg);
}
.has-flag.je .card-content:before {
    background-image: url(../flags/4x3/je.svg);
}
.has-flag.jm .card-content:before {
    background-image: url(../flags/4x3/jm.svg);
}
.has-flag.jo .card-content:before {
    background-image: url(../flags/4x3/jo.svg);
}
.has-flag.jp .card-content:before {
    background-image: url(../flags/4x3/jp.svg);
}
.has-flag.ke .card-content:before {
    background-image: url(../flags/4x3/ke.svg);
}
.has-flag.kg .card-content:before {
    background-image: url(../flags/4x3/kg.svg);
}
.has-flag.kh .card-content:before {
    background-image: url(../flags/4x3/kh.svg);
}
.has-flag.ki .card-content:before {
    background-image: url(../flags/4x3/ki.svg);
}
.has-flag.km .card-content:before {
    background-image: url(../flags/4x3/km.svg);
}
.has-flag.kn .card-content:before {
    background-image: url(../flags/4x3/kn.svg);
}
.has-flag.kp .card-content:before {
    background-image: url(../flags/4x3/kp.svg);
}
.has-flag.kr .card-content:before {
    background-image: url(../flags/4x3/kr.svg);
}
.has-flag.kw .card-content:before {
    background-image: url(../flags/4x3/kw.svg);
}
.has-flag.ky .card-content:before {
    background-image: url(../flags/4x3/ky.svg);
}
.has-flag.kz .card-content:before {
    background-image: url(../flags/4x3/kz.svg);
}
.has-flag.la .card-content:before {
    background-image: url(../flags/4x3/la.svg);
}
.has-flag.lb .card-content:before {
    background-image: url(../flags/4x3/lb.svg);
}
.has-flag.lc .card-content:before {
    background-image: url(../flags/4x3/lc.svg);
}
.has-flag.li .card-content:before {
    background-image: url(../flags/4x3/li.svg);
}
.has-flag.lk .card-content:before {
    background-image: url(../flags/4x3/lk.svg);
}
.has-flag.lr .card-content:before {
    background-image: url(../flags/4x3/lr.svg);
}
.has-flag.ls .card-content:before {
    background-image: url(../flags/4x3/ls.svg);
}
.has-flag.lt .card-content:before {
    background-image: url(../flags/4x3/lt.svg);
}
.has-flag.lu .card-content:before {
    background-image: url(../flags/4x3/lu.svg);
}
.has-flag.lv .card-content:before {
    background-image: url(../flags/4x3/lv.svg);
}
.has-flag.ly .card-content:before {
    background-image: url(../flags/4x3/ly.svg);
}
.has-flag.ma .card-content:before {
    background-image: url(../flags/4x3/ma.svg);
}
.has-flag.mc .card-content:before {
    background-image: url(../flags/4x3/mc.svg);
}
.has-flag.md .card-content:before {
    background-image: url(../flags/4x3/md.svg);
}
.has-flag.me .card-content:before {
    background-image: url(../flags/4x3/me.svg);
}
.has-flag.mf .card-content:before {
    background-image: url(../flags/4x3/mf.svg);
}
.has-flag.mg .card-content:before {
    background-image: url(../flags/4x3/mg.svg);
}
.has-flag.mh .card-content:before {
    background-image: url(../flags/4x3/mh.svg);
}
.has-flag.mk .card-content:before {
    background-image: url(../flags/4x3/mk.svg);
}
.has-flag.ml .card-content:before {
    background-image: url(../flags/4x3/ml.svg);
}
.has-flag.mm .card-content:before {
    background-image: url(../flags/4x3/mm.svg);
}
.has-flag.mn .card-content:before {
    background-image: url(../flags/4x3/mn.svg);
}
.has-flag.mo .card-content:before {
    background-image: url(../flags/4x3/mo.svg);
}
.has-flag.mp .card-content:before {
    background-image: url(../flags/4x3/mp.svg);
}
.has-flag.mq .card-content:before {
    background-image: url(../flags/4x3/mq.svg);
}
.has-flag.mr .card-content:before {
    background-image: url(../flags/4x3/mr.svg);
}
.has-flag.ms .card-content:before {
    background-image: url(../flags/4x3/ms.svg);
}
.has-flag.mt .card-content:before {
    background-image: url(../flags/4x3/mt.svg);
}
.has-flag.mu .card-content:before {
    background-image: url(../flags/4x3/mu.svg);
}
.has-flag.mv .card-content:before {
    background-image: url(../flags/4x3/mv.svg);
}
.has-flag.mw .card-content:before {
    background-image: url(../flags/4x3/mw.svg);
}
.has-flag.mx .card-content:before {
    background-image: url(../flags/4x3/mx.svg);
}
.has-flag.my .card-content:before {
    background-image: url(../flags/4x3/my.svg);
}
.has-flag.mz .card-content:before {
    background-image: url(../flags/4x3/mz.svg);
}
.has-flag.na .card-content:before {
    background-image: url(../flags/4x3/na.svg);
}
.has-flag.nc .card-content:before {
    background-image: url(../flags/4x3/nc.svg);
}
.has-flag.ne .card-content:before {
    background-image: url(../flags/4x3/ne.svg);
}
.has-flag.nf .card-content:before {
    background-image: url(../flags/4x3/nf.svg);
}
.has-flag.ng .card-content:before {
    background-image: url(../flags/4x3/ng.svg);
}
.has-flag.ni .card-content:before {
    background-image: url(../flags/4x3/ni.svg);
}
.has-flag.nl .card-content:before {
    background-image: url(../flags/4x3/nl.svg);
}
.has-flag.no .card-content:before {
    background-image: url(../flags/4x3/no.svg);
}
.has-flag.np .card-content:before {
    background-image: url(../flags/4x3/np.svg);
}
.has-flag.nr .card-content:before {
    background-image: url(../flags/4x3/nr.svg);
}
.has-flag.nu .card-content:before {
    background-image: url(../flags/4x3/nu.svg);
}
.has-flag.nz .card-content:before {
    background-image: url(../flags/4x3/nz.svg);
}
.has-flag.om .card-content:before {
    background-image: url(../flags/4x3/om.svg);
}
.has-flag.pa .card-content:before {
    background-image: url(../flags/4x3/pa.svg);
}
.has-flag.pe .card-content:before {
    background-image: url(../flags/4x3/pe.svg);
}
.has-flag.pf .card-content:before {
    background-image: url(../flags/4x3/pf.svg);
}
.has-flag.pg .card-content:before {
    background-image: url(../flags/4x3/pg.svg);
}
.has-flag.ph .card-content:before {
    background-image: url(../flags/4x3/ph.svg);
}
.has-flag.pk .card-content:before {
    background-image: url(../flags/4x3/pk.svg);
}
.has-flag.pl .card-content:before {
    background-image: url(../flags/4x3/pl.svg);
}
.has-flag.pm .card-content:before {
    background-image: url(../flags/4x3/pm.svg);
}
.has-flag.pn .card-content:before {
    background-image: url(../flags/4x3/pn.svg);
}
.has-flag.pr .card-content:before {
    background-image: url(../flags/4x3/pr.svg);
}
.has-flag.ps .card-content:before {
    background-image: url(../flags/4x3/ps.svg);
}
.has-flag.pt .card-content:before {
    background-image: url(../flags/4x3/pt.svg);
}
.has-flag.pw .card-content:before {
    background-image: url(../flags/4x3/pw.svg);
}
.has-flag.py .card-content:before {
    background-image: url(../flags/4x3/py.svg);
}
.has-flag.qa .card-content:before {
    background-image: url(../flags/4x3/qa.svg);
}
.has-flag.re .card-content:before {
    background-image: url(../flags/4x3/re.svg);
}
.has-flag.ro .card-content:before {
    background-image: url(../flags/4x3/ro.svg);
}
.has-flag.rs .card-content:before {
    background-image: url(../flags/4x3/rs.svg);
}
.has-flag.ru .card-content:before {
    background-image: url(../flags/4x3/ru.svg);
}
.has-flag.rw .card-content:before {
    background-image: url(../flags/4x3/rw.svg);
}
.has-flag.sa .card-content:before {
    background-image: url(../flags/4x3/sa.svg);
}
.has-flag.sb .card-content:before {
    background-image: url(../flags/4x3/sb.svg);
}
.has-flag.sc .card-content:before {
    background-image: url(../flags/4x3/sc.svg);
}
.has-flag.sd .card-content:before {
    background-image: url(../flags/4x3/sd.svg);
}
.has-flag.se .card-content:before {
    background-image: url(../flags/4x3/se.svg);
}
.has-flag.sg .card-content:before {
    background-image: url(../flags/4x3/sg.svg);
}
.has-flag.sh .card-content:before {
    background-image: url(../flags/4x3/sh.svg);
}
.has-flag.si .card-content:before {
    background-image: url(../flags/4x3/si.svg);
}
.has-flag.sj .card-content:before {
    background-image: url(../flags/4x3/sj.svg);
}
.has-flag.sk .card-content:before {
    background-image: url(../flags/4x3/sk.svg);
}
.has-flag.sl .card-content:before {
    background-image: url(../flags/4x3/sl.svg);
}
.has-flag.sm .card-content:before {
    background-image: url(../flags/4x3/sm.svg);
}
.has-flag.sn .card-content:before {
    background-image: url(../flags/4x3/sn.svg);
}
.has-flag.so .card-content:before {
    background-image: url(../flags/4x3/so.svg);
}
.has-flag.sr .card-content:before {
    background-image: url(../flags/4x3/sr.svg);
}
.has-flag.ss .card-content:before {
    background-image: url(../flags/4x3/ss.svg);
}
.has-flag.st .card-content:before {
    background-image: url(../flags/4x3/st.svg);
}
.has-flag.sv .card-content:before {
    background-image: url(../flags/4x3/sv.svg);
}
.has-flag.sx .card-content:before {
    background-image: url(../flags/4x3/sx.svg);
}
.has-flag.sy .card-content:before {
    background-image: url(../flags/4x3/sy.svg);
}
.has-flag.sz .card-content:before {
    background-image: url(../flags/4x3/sz.svg);
}
.has-flag.tc .card-content:before {
    background-image: url(../flags/4x3/tc.svg);
}
.has-flag.td .card-content:before {
    background-image: url(../flags/4x3/td.svg);
}
.has-flag.tf .card-content:before {
    background-image: url(../flags/4x3/tf.svg);
}
.has-flag.tg .card-content:before {
    background-image: url(../flags/4x3/tg.svg);
}
.has-flag.th .card-content:before {
    background-image: url(../flags/4x3/th.svg);
}
.has-flag.tj .card-content:before {
    background-image: url(../flags/4x3/tj.svg);
}
.has-flag.tk .card-content:before {
    background-image: url(../flags/4x3/tk.svg);
}
.has-flag.tl .card-content:before {
    background-image: url(../flags/4x3/tl.svg);
}
.has-flag.tm .card-content:before {
    background-image: url(../flags/4x3/tm.svg);
}
.has-flag.tn .card-content:before {
    background-image: url(../flags/4x3/tn.svg);
}
.has-flag.to .card-content:before {
    background-image: url(../flags/4x3/to.svg);
}
.has-flag.tr .card-content:before {
    background-image: url(../flags/4x3/tr.svg);
}
.has-flag.tt .card-content:before {
    background-image: url(../flags/4x3/tt.svg);
}
.has-flag.tv .card-content:before {
    background-image: url(../flags/4x3/tv.svg);
}
.has-flag.tw .card-content:before {
    background-image: url(../flags/4x3/tw.svg);
}
.has-flag.tz .card-content:before {
    background-image: url(../flags/4x3/tz.svg);
}
.has-flag.ua .card-content:before {
    background-image: url(../flags/4x3/ua.svg);
}
.has-flag.ug .card-content:before {
    background-image: url(../flags/4x3/ug.svg);
}
.has-flag.um .card-content:before {
    background-image: url(../flags/4x3/um.svg);
}
.has-flag.us .card-content:before {
    background-image: url(../flags/4x3/us.svg);
}
.has-flag.uy .card-content:before {
    background-image: url(../flags/4x3/uy.svg);
}
.has-flag.uz .card-content:before {
    background-image: url(../flags/4x3/uz.svg);
}
.has-flag.va .card-content:before {
    background-image: url(../flags/4x3/va.svg);
}
.has-flag.vc .card-content:before {
    background-image: url(../flags/4x3/vc.svg);
}
.has-flag.ve .card-content:before {
    background-image: url(../flags/4x3/ve.svg);
}
.has-flag.vg .card-content:before {
    background-image: url(../flags/4x3/vg.svg);
}
.has-flag.vi .card-content:before {
    background-image: url(../flags/4x3/vi.svg);
}
.has-flag.vn .card-content:before {
    background-image: url(../flags/4x3/vn.svg);
}
.has-flag.vu .card-content:before {
    background-image: url(../flags/4x3/vu.svg);
}
.has-flag.wf .card-content:before {
    background-image: url(../flags/4x3/wf.svg);
}
.has-flag.ws .card-content:before {
    background-image: url(../flags/4x3/ws.svg);
}
.has-flag.ye .card-content:before {
    background-image: url(../flags/4x3/ye.svg);
}
.has-flag.yt .card-content:before {
    background-image: url(../flags/4x3/yt.svg);
}
.has-flag.za .card-content:before {
    background-image: url(../flags/4x3/za.svg);
}
.has-flag.zm .card-content:before {
    background-image: url(../flags/4x3/zm.svg);
}
.has-flag.zw .card-content:before {
    background-image: url(../flags/4x3/zw.svg);
}
